.join {
  position: relative;
  margin-top: 40px;
  width: 100%;

  @include onDesctop {
    width: 390px;
    margin-top: 80px;
  }

  &__list {
    position: relative;
  }

  &__menu {
    position: absolute;
    z-index: 1;
    background-color: #082030;
    overflow: hidden;
    max-height: 100vh;
    transition: max-height 0.3s;
    transition-timing-function: ease-in;
    margin-top: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;

    color: #8095a4;

    &--hidden {
      max-height: 0;
      transition-timing-function: ease-out;
    }
  }

  &__topActions {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;

    &-title {
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      color: #c8972c;
    }

    &-text {
      font-weight: 400;
      font-size: 13px;
      line-height: 160%;
    }
  }

  &__button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #fff;

    &:hover {
      background-color: #415867;
    }
  }

  &__item {
    border-top: 1px solid #415867;

    &-title {
      position: relative;
      display: flex;
      justify-content: space-between;
      font-weight: 400;
      font-size: 22px;
      line-height: 22px;
    }

    &-text {
      margin: 13px;
      font-weight: 400;
      font-size: 13px;
      line-height: 21px;
      display: flex;
      justify-content: space-between;
      color: #9bb3c2;
    }

    &:nth-child(1) {
      list-style: url(./images/1.png);
    }

    &:nth-child(2) {
      list-style: url(./images/2.png);
    }

    &:nth-child(3) {
      list-style: url(./images/3.png);
    }

  }
}

.diseible {
  display: none;
}
